<!doctype html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
        <link rel="stylesheet" href="/assets/styles/base.css">
    </head>
    <body>
        <%= yield %>
        <script src="/assets/scripts/test.js"></script>
    </body>
</html>